{% extends 'base.html' %}
{% block titulo %} +trabajos {% endblock titulo %}
{% load static %}
{% block contenido %} 


<section class="vh-100">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                     {% csrf_token %}
                     {% if form.errors %}
                     <div class="alert alert-danger alert-dismissible" role="alert">
                       <div id="form_errors">
                         {% for key, value in form.errors.items %}
                           <strong>{{ value }}</strong>
                         {% endfor %}
                       </div>
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                   {% endif %}
                    <fieldset>
                        <legend class="text-center header">Registarte </legend>

                        <div class="form-gro up">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="first_name" name="{{ form.first_name.name }}" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="last_name" name="{{ form.last_name.name }}" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="username" name="{{ form.username.name }}" type="text" placeholder="username" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="{{ form.email.name }}" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="password" name="{{ form.password1.name }}" type="password" placeholder="contraseña" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="password2" name="{{ form.password2.name }}" type="password" placeholder="repite contraseña" class="form-control">
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                        <div class="block center">
                            <p>¿Ya tienes una cuenta? Ingresa <a href="{% url 'login' %}"> Aquí </a></p>
                          </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
    {% endblock contenido %} 