{% extends 'base.html' %}
{% block titulo %} +trabajos {% endblock titulo %}
{% load static %}
{% block contenido %} 
<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>¿cuanto deberias estar ganando?</h2>
          </div>
        </div>
      </section>

      <section class="section-35 section-md-top-75 section-md-bottom-50">
        <div class="container">
          <div class="row row-40">
            <div class="col-md-6">
              <h3>tendencias de mercado</h3>
              <div class="col-md-6">
                <figure><img src=" {% static 'images/tendencias.jpg' %} " alt="" width="570" height="386"/>
                </figure>
              </div>
              <div cla
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Analiza el mercado y las experiencias de otras personas con puestos similares.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h3>Salarios</h3>
              <div class="col-md-6">
                <figure><img src=" {% static 'images/salarios.jpg' %} " alt="" width="570" height="386"/>
                </figure>
              </div>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Descubre lo que vale tu puesto en el mercado de acuerdo a salarios reales.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h3>Habilidades</h3>
              <div class="col-md-6">
                <figure><img src=" {% static 'images/habilidades.jpg' %} " alt="" width="570" height="386"/>
                </figure>
              </div>
              <div class="inset-lg-right-40 inset-xl-right-70">
                <p>Descubre más acerca de las competencias y habilidades que te llevarán al siguiente nivel.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h3>video explicativo</h3>
              <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DWUskoABUkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="inset-lg-right-40 inset-xl-right-70">
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-35 section-md-50">
        <div class="container">
          <h3>¿Qué poner en tu CV si no tienes experiencia laboral?</h3>
          <div class="row row-30 flex-row-md-reverse justify-content-lg-between">
            <div class="col-md-6">
              <figure><img src=" {% static 'images/perfil1.jpg' %} " alt="" width="570" height="386"/>
              </figure>
            </div>
            <div class="col-md-6">
              <div class="inset-lg-right-30 inset-xl-right-85 text-secondary">
                <p>La búsqueda de empleo es un proceso complicado, sobre todo cuando apenas eres recién egresado. Irónicamente, la falta de experiencia laboral puede dificultar la inserción en el mercado profesional. Para romper esta paradoja, tienes que aprender a pulir tu perfil y proyectar una imagen profesional, aunque nunca hayas trabajado. Presta mucha atención, pues esto es lo que debes poner en tu CV si no tienes experiencia laboral.</p>
                <p>Habilidades,Formación,,Servicio social,Logros académicos,Actividades extracurriculares,Portafolio</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-40 section-md-bottom-100 section-xl-bottom-165">
        <div class="container">
          <h3>Perfil laboral, cómo confeccionarlo y para qué sirve</h3>
          <div class="row row-30 justify-content-lg-between">
            <div class="col-md-6">
              <figure><img src=" {% static 'images/perfil2.jpg' %} " alt="" width="570" height="386"/>
              </figure>
            </div>
            <div class="col-md-6">
              <div class="inset-lg-left-40 inset-xl-left-70 text-secondary">
                <p>El perfil laboral, es decir, el resumen de la formación, experiencia y otros datos importantes que los trabajadores incluyen en su currículum vitae, es uno de los aspectos necesarios para cualquier departamento de recursos humanos que desee contratar a personas eficaces y eficientes.</p>
                <p>A la hora de elegir a sus futuros empleados, muchas empresas se ciñen únicamente a los logros acreditados, es decir, que cuentan con un título o un certificado. Los ejemplos más conocidos de este tipo de acreditaciones los encontramos en la formación, tanto reglada como no reglada, y en la experiencia profesional previa. Sin embargo, un perfil laboral es mucho más. Conocer los aspectos que vamos a destacar en este post es vital para cualquier empresa que no quiera arrepentirse de haber contratado a un trabajador que realmente no encaja en el puesto que se le ha adjudicado.

                  En primer lugar, como aspecto prioritario en el perfil laboral debemos atender al objetivo profesional, es decir, qué es lo que desea alcanzar el potencial trabajador en su carrera profesional. Si nuestra empresa es una de las mayores referencias en el mercado de la bolsa, por ejemplo, es poco probable que encaje en ella una persona cuyo objetivo profesional es escribir y publicar novelas de ficción.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock contenido %} 